HOST=0.0.0.0
PORT=8000
RELOAD=false

RATE_LIMITING_ENABLE=false
RATE_LIMITING_FREQUENCY=2/3seconds

CACHE_ENABLE=true
CACHE_DIR=.cache/http
CACHE_TTL_SECONDS=3600
CACHE_SIZE_LIMIT_MB=500

OUTBOUND_MIN_INTERVAL_MS=500
OUTBOUND_MAX_RETRIES=4
OUTBOUND_MAX_CONCURRENCY=4
OUTBOUND_TIMEOUT_S=30
